body {
    background-color:  hsla(216, 10%, 80%, 0.814);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

#container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px; 
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

#handSigns {
    display: flex;
    gap: 30px;
}

#handSigns button {
    font-size: 4rem;
    background-color: hsla(271, 76%, 53%, 0.742);
    border-radius: 70px;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

#handSigns button:hover {
    background-color: hsla(271, 73%, 47%, 0.914);
}

#handSigns button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

#choices {
    margin-top: 20px;
    text-align: center;  
}

#playerPick, #computerPick {
    font-size: 1.5rem;
}

#result {
    font-size: 1.9rem;
    font-weight: bold;
}

.winResult {
    font-size: 1.9rem;
    font-weight: bold;
    color: hsla(120, 98%, 65%, 0.853);
}

.loseResult {
    font-size: 1.9rem;
    font-weight: bold;
    color: hsla(0, 98%, 65%, 0.853);
}