body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: antiquewhite;
}

h1 {
    font-family: cursive;
}

#container {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#input {
    text-align: center;
    margin-bottom: 20px;
}

#userInput {
    font-size: 1.3em;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#diceBtn {
    padding: 4px 10px;
    font-size: 1em;
    border-radius: 7px;
    color: white;
    border: none;
    background-color: hsl(34, 99%, 62%);
    cursor: pointer;
}

#diceBtn:hover {
    background-color: hsl(34, 100%, 55%);
}

#diceImg {
    margin-top: 20px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}