body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#title {
    font-size: 30px;
    margin: 20px 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(34, 28%, 95%, 0.947);
    width: 50vh;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: cursive;
}

#pwLength {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

input {
   margin: 5px; 
}

button {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color:hsl(60, 62%, 84%);
    font-family: cursive;
    font-size: 15px;
}

#result {
    margin-top: 10px;
}